.author{
    text-decoration: underline;
}

.about{
    padding: 1.5rem;
    margin-bottom: 15rem;
   
}

.prompt{
    display: flex;
    flex-direction:column;
    padding: 1.5rem;
    margin: 10rem auto;
} 

.icons{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.about h1{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 5.5rem;
}

.prompt svg{
    cursor: pointer;
    font-size: 50px;
}

.prompt p {
    font-size: 2em;
    text-align: center;

}





hr{
    border-color: #fbc403;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*skills down below*/





.skills{
    background-color: #000000;
    color: white;
}

.skills h1{
    font-size: 2.3em;
    text-align: center;
    padding: 0;
    margin: 0;
}

.skills h2{
    font-size: 1.3em;
    text-align: center;
    margin-top: 5rem;
}

.skillsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}


.skillsList .item h2{
    text-decoration: overline;
}


.skillsList .item span{
    color: #fbc403;
    font-size: 0.8em;

}

span{
    color: #fbc403;
}




/*NEW SECTIONS*/




.prompt.me{
    background-color: black;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:100ch;
    transition: ease-in-out 250ms;
    
}


.prompt.me p{
    margin-bottom: 2rem;
    
}

.prompt.contact{
    margin: 0 auto;
    
}

.prompt.me p{
    font-size: 1.5em;
    text-align: center;
    
}


.about.final{
    padding: 3rem;
    
}


.about.final h1{
    margin-bottom: 10rem;
    font-size: 2.5em;
    
}

.about.final .icons{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.about.final .icons a{
    display: flex;
    align-items: flex-start;

    text-decoration: none;
    font-size: 2em;
  
}

.about.final .icons a:hover{
    text-decoration: overline #fbc403;
    
}



blockquote{
  font-size: 1.3em;
}

blockquote p {
  border-bottom: 1px #fbc403 solid;
}



.prompt.me:hover{
    box-shadow:1px 1px #fbc403 ;
    
}

.myprofile{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

