*{
   padding: 0;
   margin: 0;
}
  

.resume h1{
    font-size: 4em;
    margin-bottom: 1rem;
}

.resume div{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.resume small{
   font-size: 1.15em;
}

.section{
    
    color: #fbc403;
    margin-bottom: 2rem;
    
}


li{
    font-size: 1.5em;
}

p{
    font-size: 1.2em;
}


.section.sub{
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 1rem;
}



span{
    color: #fbc403;
}

.education-section{
    padding: 1rem;
}